body {
    font-family: "Dongle", sans-serif;
    background: #dbe5e7;
    color: #816272;
    margin: 5% 8%;
}

h1 {
    font-family: "Jua", sans-serif;
    font-size: 4.5em;
    color: #1f436d;
    clear: left;
    text-align: center;
    border-bottom: 3px solid #a6b3c2;
}

h2 {
    font-family: "Jua", sans-serif;
    font-size: 3em;
    color: #a55274;
    clear: left;
}

footer {
    border-top: 3px solid #a6b3c2;
    clear: both;
}

/* Class selectors */
.text {
    font-size: 2.5em;
    font-weight: 400;
    color: #28728f;
}

.page {
    margin: 100px 0px 150px 0px;
}

/*ID selectors */
#bio_text {
    width: 50%;
}

#my_pic {
    float: right;
    width: 45%;
}

/* Pseudo-class selectors */
a:link {
    color: #1691b6;
}

a:visited {
    color: #7869a3;
}

a:focus {
    border: 1px solid #5cb3c9;
}

a:hover {
    color: #4bb0cf;
}

a:active {
    color: #077fa3;
}

/* Fonts */
.dongle-light {
    font-family: "Dongle", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.dongle-regular {
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dongle-bold {
    font-family: "Dongle", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}