* {
    font-family: verdana, tahoma, sans-serif;
}

header {
    background-color: rgb(104, 121, 221);
    height: 160px;
}

header h1 {
    margin: 0;
    color: rgb(1, 1, 128);
    text-align: left;
    font-size: 45px;
    padding-top: 55px;
}

#status {
    font-style: italic;
}

#content {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.result {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    border-radius: 16px;
    box-shadow: 0px 10px 20px 0px rgba(21, 18, 182, 0.4);
}

.result img{
    width: 100%;
    margin: 24px auto;
}

.result span{
    order: -1;
}


.result p {
    font-weight: bold;
    font-size: 1rem;
}
/* .result {
    position: relative;
    height: 175px;
    width: 100px;
    float: left;
    border: 1px solid gray;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.result img {
    position: absolute;
    left: 5px;
    bottom: 5px;
    display: block;

}

.result span {
    font-size: 12px;
    font-weight: bold;
    display: block;
}

.result audio {
    width: 130px;
} */

button {
    display: inline-block;
    cursor: pointer;

    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px 18px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    font-size: 9.5pt;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    font-family: sans-serif;
    text-decoration: none;
}

button.blue {
    border-color: #005075;
    background: #118ab9;
    background: linear-gradient(top, #118ab9 0%, #0379bd 100%);
}

button:hover {
    background: #0da5ec;
}

button:active {
    background: #59d2e7;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

button:focus {
    outline: 0;
}

a:link {
    color: #0eb0f0;
}

a:visited {
    color: #5b58bd;
}

a:focus{
    color: #43c9b2;
}

a:hover{
    color: #59d2e7;
}

a:active{
    color:#82f3f9
}

.widgets {
    margin-top: 1em;
    margin-bottom: 1em;
}