* {
    font-family: "Port Lligat Sans", verdana, sans-serif;
}

@font-face {
    font-family: "New Waltograph";
    src: url(../media/NewWaltDisneyFontRegular-BPen.ttf);
}

@font-face {
    font-family: "New Waltograph UI";
    src: url(../media/NewWaltDisneyUi-8YdA.ttf);
}

.sofadi-one-regular {
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.port-lligat-sans-regular {
    font-family: "Port Lligat Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(../media/tiled_preview_square_20250811_164812.webp);
    background-size: 35%;
    background-color: #d7e3e9;
    background-blend-mode: soft-light;
}

header {
    display: block;
    height: 30vw;
    min-height: 220px;
    margin: -10px;
    padding: 10px 10px;
    text-align: center;
    background-color: rgba(222, 243, 255, 0.9);
    box-shadow: 0px 100px 120px rgb(225, 243, 255);
}

header h1 {
    color: #0e0075;
    text-align: center;
    margin: 0px;
    font-size: 10vw;
    font-family: "New Waltograph", serif;
}

h2 {
    display: inline-block;
    font-family: "New Waltograph";
    font-size: 3rem;
    margin: 20px;
    color: #0e0075;
}

#doc {
    font-family: "New Waltograph";
    font-size: 3rem;
    margin: 20px;
    float: right;
}

hr {
    border-top: 1px solid #4b6ea2;
    border-bottom: none;
    margin: auto 20px;
}

.widgets {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "New Waltograph UI";
    font-weight: bold;
    color: #0e0075;
    font-size: 1.5rem;
}

#searchterm {
    border: 1px solid rgb(74, 90, 133);
    border-radius: 16px;
    padding: 6px;
}

select {
    border-radius: 12px;
    border: 1px solid rgb(74, 90, 133);
    padding: 2px;
}

#status {
    font-style: italic;
    margin: 20px 20px;
}

#content {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.result {
    background-color: rgba(243, 254, 255, 0.95);
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    border-radius: 16px;
    border: 1px solid rgba(90, 107, 155, 0.853);
    box-shadow: 0px 10px 20px 0px rgba(27, 109, 147, 0.4);
}

.result img {
    width: 100%;
    margin: 24px auto;
}

.result span {
    order: -1;
}

.result p,
a {
    font-weight: bold;
    font-size: 1rem;
    font-family: "Port Lligat Sans";
}

.result h3 {
    font-weight: bold;
    font-size: 1.75rem;
    color: rgb(3, 0, 165);
}

button {
    display: inline-block;
    cursor: pointer;

    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px 18px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);

    font-size: 16pt;
    font-weight: bold;
    font-family: "New Waltograph UI";

    color: #fff;
    text-shadow: 0 1px 3px #030067e6;
    text-decoration: none;
}

button.blue {
    border-color: #005075;
    background: #118ab9;
    background: linear-gradient(top, #118ab9 0%, #0379bd 100%);
}

button:hover {
    background: #0da5ec;
}

button:active {
    background: #59d2e7;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

button:focus {
    outline: 0;
}

a:link {
    color: #0eb0f0;
}

a:visited {
    color: #5b58bd;
}

a:focus {
    color: #43c9b2;
}

a:hover {
    color: #59d2e7;
}

a:active {
    color: #82f3f9
}

@media screen and (min-width: 900px) {

    header {
        display: flex;
        height: 160px;
        min-height: none;
        text-align: left;
    }

    header h1 {
        text-align: left;
        margin: auto 20px;
        font-size: 6vw;
    }

    #widgetSearchGroup {
        margin: auto;
    }

}