figure {
    max-width: 650px;
    margin: 0px auto;
}

figure img {
    width: 100%;
}

header, main, footer {
    max-width: 90%;
    margin: 0px auto;
}

.tet {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 450px;
    /* border: 1px solid gray; */
}