.jersey-20-regular {
    font-family: "Jersey 20";
    font-weight: 400;
    font-style: normal;
}

body {
    cursor: url(../images/cursor-new.png) 0 0, crosshair;
    margin: auto 50vw;
    translate: -300px 150px;
    background-color: #1e1b2f;

    font-family: "Jersey 20";
    font-size: 3rem;
    text-align: center;
}
nav {
    display: inline-flex;
    text-align: center;
    margin: auto 1rem;
    gap: 3rem;
}

a {
    font-family: "Jersey 20";
    font-size: 3rem;
    margin: 1rem auto;
}

a:link {
    color: rgb(150, 195, 255);
}

a:visited {
    color: rgb(110, 98, 240);
}

a:focus {
    color: rgb(145, 108, 255);
}

a:hover {
    color: rgb(178, 225, 255);
}

a:active {
    color: rgb(153, 197, 255);
}